#autocomplete_block{
 width: 27%;
 color: #8c8c8c;
 font-size: 11px;
 }

 #autocomplete_block ul.vars_list {
 margin-top: 0px;
 z-index: 10;
 background: #fcfcfc;
 position: absolute;
 border-radius: 3px;
 width: 249px;
 padding: 0;
 border: 1px solid #eee;
 display: none;
 }
 ul.vars_list li {
 list-style-type: none;
 border: 1px solid #efefef;
 }
 ul.vars_list li:hover {
 cursor: pointer;
 background: #ffa;
 }