.drawer {
    position: relative;
    margin-left: 50%;
    display: none;
    height: 300px;
    background-color: #fff;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    z-index: 1;
}   

#drawer-pole {
    width: 100%;
    height: 100%;
    color: #00bfff;
}

#drawer-pencil{
    display: none;
    width: 10px;
    height: 15px;
}