.style-page {
    background-image: url('../img/font.png');
    position: relative;
}

.well-smb {
    position: relative;
    margin-top: 4px;
    height: 20px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    background-color: #40E0D0;
    border: 1px solid #40E0D0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
}

.well-smt {
    margin-bottom: 4px;
    height: 20px;  
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    -webkit-border-top-left-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topright: 6px;
    background-color: #40E0D0;
    border: 1px solid #40E0D0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.form_right_angle {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.footer {
    position: fixed; /* Фиксированное положение */
    left: 8.333333333333332%; 
    right: 8.333333333333332%;
    bottom: 0;
}

.content {
    margin-left: 8.333333333333332%;
    margin-right: 8.333333333333332%;
    position: relative;
}

.column_1 {
    position: absolute;
    width: 50%;
    overflow: auto;
    height: 300px;
    background-color: white; 
}

.column_2 {
    position: relative;   
    display: block;
    margin-left: 50%;
}

.windows {
    height: 150px;
    overflow: auto;
    padding: 2px;
    padding-top: 1px;
    font-size: 13px;
    font-family: monospace;
}

.row_end {
    position: relative;
    height: 100px;
    width: 100%;
    padding-left: 3px;
    padding-right: 200px;
    border: 1px solid #ccc;
    overflow: auto;
}

.image {
    position: absolute;
    max-width: 200px;
    right: 9.333333333333332%;
    bottom: 18%;
    left: 77%;
    //top: 42%;
    z-index: 1;
}

.image img {
    min-width: 50%;
    width: 100%;
    height: auto;
}

.main_block {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    line-height: none;
    /* position: relative;
     margin-left: 8.333333333333332%;
     margin-right: 8.333333333333332%;
     margin-top: 3%;
     margin-bottom: 3%;
     background-color: whitesmoke;
     border-radius: 6px;
     border-radius: 6px;
     -webkit-border-top-left-radius: 6px;
     -moz-border-radius-topleft: 6px;
     -webkit-border-top-right-radius: 6px;
     -moz-border-radius-topright: 6px;*/
    /* border: 1px solid whitesmoke;
     -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
     box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);*/
}

.main_image {
    position: absolute;
    padding-left: 8.333333333334%; 
    padding-top: 5%;
}

.main_button {
    position: relative;
    margin-left: 515px;
}

#container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.number_style {
    font-size: 14px;
    font-family: monospace;
    display: block;
    position: relative;
    left: 2px;    
}

.number_bar {
    margin: 0px;
    padding: 0px;
    padding-top: 1px;
    height: auto;
    min-height: 300px;
}

.interpreter {
    margin: 0px;
    padding: 2px;
    padding-top: 1px;
    height: auto;
    font-size: 13px;
    font-family: monospace;
    min-height: 300px;
    overflow-x: auto;
    white-space: nowrap; 
    /* Запрещаем перенос строк */
}

.interpreter br {
    display: inline-block;
    clear: left;
}
.shell_number {
    position: absolute;   
    left: 0;
    top: 0;
    bottom: 0;
    width: 29px;
    margin-right: 3px;
    padding: 0px;
    height: 100%;       
}

.shell_inter {
    position: relative;
    margin-left: 29px; 
    padding: 0px;
    height: 100%;

}

.speech {
    position: relative;
    margin-top: 30px;
    margin-bottom: 0;
    width: 600px;
    height: 350px;
    padding: 20px;
    text-align: center;
    line-height: normal;
    background-color: #fff;
    border: 8px solid #666;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 2px 2px 4px #888;
    -moz-box-shadow: 2px 2px 4px #888;
    box-shadow: 2px 2px 4px #888;
}

.speech:before {
    content: ' '; 
    position: absolute; 
    width: 0; 
    height: 0;
    left: 50px; 
    top: 334px;
    border: 35px solid;
    border-color: #666 transparent transparent #666; 
}

.speech:after { 
    content: ' '; 
    position: absolute;
    width: 0;
    height: 0;
    left: 58px;
    top: 334px;
    border: 25px solid;
    border-color: #fff transparent transparent #fff; 
}

.greeting {
    font-size: 30px;
    font-family: serif;
    color: #33CCFF;
}

.form_group_change {
    margin-bottom: 5px;
}

.form-horizontal .form_group_change {
    margin-left: -15px;
    margin-right: -15px;
}

.form-horizontal .form_group_change:before,
.form-horizontal .form_group_change:after{
    content: " ";
    display: table;
}

.form-horizontal .form_group_change:after{
    clear: both;
}

.learn_about {
    color: #696969;
    font-size: 17px; 
    text-decoration: none;
}

.learn_about:hover {
    color: #2AB7AC;
    text-decoration: none;
}

.comm{
color:gray
}/* Комменты серые */

.kwrd{
color: green;
font-weight:bold
}/* Ключевые слова полужирные, зеленые */

.vwrd{
color: #2AB7AC;
font-weight:bold
}/* Типы переменных полужирные, бирюзовые */

.inoutwrd{
color: brown;
font-weight:bold
}/* Ввод, вывод полужирные, коричневые */

.exwrd{
color: green;
font-weight:bold
}/* Исполнители полужирные, зеленые  */

.parwrd{
color: orange;
font-weight:bold
}/* Параметры полужирные, оранжевые  */

.forswrd{
color: olive;
font-weight:bold
}/* Параметры полужирные, оливковые  */

.ifelsewrd{
color: purple;
font-weight:bold
}/* Параметры полужирные, фиолетовые  */


.strings{
	display: inline-block;
	white-space: pre-wrap;
        height: 20px;
        width: auto;
        margin-top: 0;
        float: left;

}

.active-string {
    width: 100%;
    background-color: aqua;
}
.active-string-in_out{
    width: 100%;
    background-color: bisque;
}
.active-string-error {
    width: 100%;
    background-color: red;
}
.green, .green2 {
	font-size: 13px;
	width: 5px;
	height: 20px;
	background: transparent;
	outline: none;
	border: 0px;
	resize: none;
	overflow: hidden;
        float: left;
}


.word {
    min-width: 3px;
    outline: none;
    float: left;
}
.interpreter{
    color: blue;
}
