.robot {
    position: relative;
    margin-left: 50%;
    display: none;
    height: 300px;
    background-color: #fff;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    z-index: 1;
}

.robot-menu {
    position: absolute;
    display: none;
    left: 50%;
    top: 0px;
}

.img-robo {
    display: block;
}

.img-robo:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    background-image: url('robo.png');
    background-size: 100% 100%;
}

.robot-kletka {
    float: left;
    position: absolute;
    height: 28px;
    width: 28px;
    font-size: 14px;
    font-weight: bolder;
    color: #F1FF00;
    text-align: center;
    left: 0px;
    left: 0px;
    /* border: 2px solid; */
    background-color: #41e0d0;
    z-index: 1;
    cursor: default;
}

.robot-pole {
    position: relative;
    border: 2px #0099cc solid;
    float: left; 
    height: 284px;
    width: 284px;
    z-index: 2;
}

.robot-stena-vert {
    position: absolute;
    float: left;
    height: 28px;
    width: 4px;
    background-color: #404040;
    z-index: 2;
    cursor: pointer;
}

.robot-stena-hor {
    position: absolute;
    float: left;
    left: 0px;
    /* margin-left: 25px; */
    height: 4px;
    width: 28px;
    background-color: #404040; 
    z-index: 2;
    cursor: pointer;
}

.robot-stena-hor:hover {
    box-shadow: 0px 1px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.5);
}

.robot-stena-vert:hover {
    box-shadow: 1px 0px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 1px 0px 1px rgba(0,0,0,0.5);
}

.red-stena {
    background-color: red;
}

.blue-kletka {
    background-color: rgb(0, 153, 204);
}

.robo {
    position: absolute;
    display: block;
    top: 3px;
    left: 3px;
    width: 25px;
    height: 25px;
}

#save-obstanovka{
    display: none;
}

.robo-pult {
    display: none;
}

.error-string {
    background-color: rgb(254, 135, 147);
}