.name_searching {
    position: absolute;
    display: block;
    width: 33.3333332%;
    height: 34px;
    padding-top: 4px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.428571429;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.name_list{
    position: relative;
    left: 33.3333332%;
    display: block;
    width: 33.3333332%;
    height: 34px;
    padding-top: 4px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.428571429;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.name_explanation {
    position: absolute;
    top: 0;
    right: 0;
    margin-left: 33.3333332%;
    display: block;
    width: 33.3333332%;
    height: 34px;
    padding-top: 4px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.428571429;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.searching {
    position: absolute;
    display: block;
    width: 33.3333332%;
    height: 400px;
    padding: 20px 20px 20px 10px;
    font-size: 14px;
    font-family: Arial;
    line-height: 1.428571429;
    color: #555;
    overflow: auto;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.reference_list {
    position: relative;
    left: 33.3333332%;
    display: block;
    width: 33.3333332%;
    height: 400px;
    padding: 20px 10px 8px 10px;
    font-size: 15px;
    font-family: Arial;
    line-height: 1.428571429;
    color: #555;
    overflow: auto;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.reference_explanation {
    position: absolute;
    top: 34px;
    right: 0;
    margin-left: 33.3333332%;
    display: block;
    width: 33.3333332%;
    height: 400px;
    padding: 20px 20px 10px 26px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    overflow: auto;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.train_interpreter {
    width: 69.5%;
    position: relative;
    left: 28%;
}

.train {
    z-index: 1;
    position: absolute;
    display: block;
    width: 29.999%;
    height: 434px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    background-color: #F0FFF0;
    background-image: none;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

/* ul-treefree */
ul.ul-treefree { 
    padding-left: 25px; 
}
ul.ul-treefree ul { 
    margin:0; 
    padding-left: 6px; 
}
ul.ul-treefree li { 
    position: relative; 
    list-style: none outside none; 
    border-left: solid 1px #999; 
    margin: 0; 
    padding: 0 0 0 19px; 
    line-height: 23px; 
}
ul.ul-treefree li:before {
    content: ''; 
    display: block; 
    border-bottom: solid 1px #999; 
    position: absolute; 
    width: 18px; 
    height: 11px;
    left: 0;
    top: 0; 
}
ul.ul-treefree li:last-child { 
    border-left: 0 none; 
}
ul.ul-treefree li:last-child:before { 
    border-left: solid 1px #999; 
}

/* ul-dropfree */
ul.ul-dropfree div.drop {
    width: 11px;
    height: 11px;
    position: absolute;
    z-index: 10;
    top: 6px;
    left: -6px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAALCAIAAAD0nuopAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAE1JREFUeNpinDlzJgNlgAWI09LScEnPmjWLoAImrHpIAkwMFAMqGMGC6X44GzkIsHoQooAFTTVQKdbAwxOigyMsmIh3MC7ASHnqBAgwAD4CGeOiDhXRAAAAAElFTkSuQmCC');
    background-position: -11px 0;
    background-repeat: no-repeat;
    cursor: pointer;
}

.header_list {
    font-weight: bold;
    margin-left: 22px;
    cursor: default;
}

.alignment_icon{
    margin-bottom: 3px;
}

.image_left_st1 {
    margin-left: -7px;
}

.image_left_st3 {
    margin-left: 2px;
}

#all_links span {
    display: none;
}

#list_directory li:hover {
    cursor: default;
}

#all_links div:hover {
    cursor: default;
    text-decoration: underline;
}

.robot_train {
    position: absolute;
    max-width: 190px;
    bottom: 0;
    left: 1%;
    //top: 42%;
    z-index: 1;
}

.robot_train img {
    min-width: 10%;
    width: 100%;
    height: auto;
}

.speech_train {
    position: relative;
    margin-top: 4px;
    margin-bottom: 0;
    width: 100%;
    height: 250px;
    padding: 20px;
    text-align: left;
    font-size: 15px;
    font-family: Georgia;
    line-height: normal;
    background-color: #fff;
    border: 2px solid #777;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 10px;
    /*-webkit-box-shadow: 2px 2px 4px #888;
    -moz-box-shadow: 2px 2px 4px #888;
    box-shadow: 2px 2px 4px #888;*/
}

.speech_train p {
    text-align: center;
}

.speech_train:before {
    content: ' '; 
    position: absolute; 
    width: 0; 
    height: 0;
    left: 150px; 
    top: 246px;
    border: 17px solid;
    border-color: #777 transparent transparent #666; 
}

.speech_train:after { 
    content: ' '; 
    position: absolute;
    width: 0;
    height: 0;
    left: 152px;
    top: 245px;
    border: 15px solid;
    border-color: #fff transparent transparent #fff; 
}

.btn_position_next {
    position: absolute;
    bottom: 60px;
    right: 12px;
    width: 100px;
}

.btn_position_prev {
    position: absolute;
    bottom: 20px;
    right: 12px;
    width: 100px;
}

.btn_position_check {
    position: absolute;
    bottom: 100px;
    right: 12px;
    width: 100px;
}

#arrow_1 {
    position: absolute;
    max-width: 500px;
    left: 5%;
    //top: 42%;
    z-index: 1;
}

.visible_block {
    display: block;
}

.visible_none {
    display: none;
}

.searching_string {
    position: absolute;
    margin-left: 15px;
    display: block;
    width: 65%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.searching_string:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.searching_string:-moz-placeholder {
    color: #999999;
}
.searching_string::-moz-placeholder {
    color: #999999;
    opacity: 1;
}
.searching_string:-ms-input-placeholder {
    color: #999999;
}
.searching_string::-webkit-input-placeholder {
    color: #999999;
}
.searching_string[disabled],
.searching_string[readonly],
fieldset[disabled] .searching_string {
    cursor: not-allowed;
    background-color: #eeeeee;
    opacity: 1;
}

textarea.searching_string {
    height: auto;
}

.navbar-form .searching_string {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

#btn_searching {
    position: relative;
    right: 0;
    left: 78%;
    width: 20%;
}

#searching_results {
    margin: 13px;
}

.content_modal {
    margin-left: 0;
    margin-right: 0;
    position: relative;
}

#btn_searching_modal {
    position: relative;
    right: 0;
    left: 73%;
    width: 23%;
}

#button_reference {
    position: absolute;
    right: 1%;
}